.nav-tabs {
    border-block: none;
  }
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-radius: 50px;
    border-color: #dee2e6;
}
.myMember{
  border: 1px solid rgb(184, 184, 184);
  border-radius: 20px;
  text-align: center;
  margin: 10px 0;
  line-height: 35px;
}
.card-header{
  border: none;
  background-color: white;
  font-size: 30px;
  margin: 20px 0 -30px 0;
}
.card-body{
  margin: 0 0 20px 0;
}
.card {
  border: none;
}